Package: moe.cadence.nosafariformkeyboard
Name: NoSafariFormKeyboard
Version: 1.0.0
Architecture: iphoneos-arm
Description: Remove Prev/Next/Done form buttons on Safari keyboard
Maintainer: Cadence
Author: Cadence
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 4.0)
